body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	@media (max-width:$tablet){
		padding-top: rem(100);
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	background: linear-gradient(315.56deg, #E5E3E3 3.38%, #FFFFFF 97.41%);
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 500px;
	border-radius: rem(8);
	position: relative;
	.popup[id=good-kitchen] & {
		outline: rem(4) ridge rgba($color: $color-yellow, $alpha: .3);
		outline-offset: rem(-15);
		max-width: prc(1350, 1920);
		@include adaptiveValue("padding-top", 50, 25);
		@include adaptiveValue("padding-bottom", 30, 15);
		@include adaptiveValue("padding-left", 15, 10);
		@include adaptiveValue("padding-right", 15, 10);
		@media (min-width:$pc){
			 padding: rem(50); 
		}
		@media (max-width:$tablet){
			max-width: 80%;
		}
		@media (max-width:$mobileSmall){
			 max-width: 90%; 
		}
	}
	@media (max-width:$mobile){
		max-width: 300px;
	}
	.lock & {
		visibility: visible;
	}
}

.popup__close {
	color: $text-dark;
	font-size: rem(15);
	border-radius: rem(4) rem(8) rem(4) rem(4);
	padding: rem(5);
	position: absolute;
	top: 0;
	right: 0;
	background: #FFFFFF;
	backdrop-filter: blur(7px);
	
}

.popup__body {
	color: $text-dark;
}


.body-good-kitchen-popup {

	// .body-good-kitchen-popup__title
	&__title {
		max-width: rem(750);
		margin: 0 auto;
		text-align: center;
		@include adaptiveValue("font-size", 35, 22, 992, 320, 1);
		line-height: 1.1;
		font-weight: 400;
		color: $text-dark;
		text-transform: uppercase;
		color: $color-yellow;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}

	// .body-good-kitchen-popup__text
	&__text {
		max-width: prc(630, 750);
		margin: 0 auto;
		@include adaptiveValue("font-size", 13, 12, 992, 320, 1);
		line-height: 1.3;
		font-weight: 400;
		color: $color-blue;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
		@media (max-width:$mobileSmall){
			 text-align: center; 
		}
	}

	// .body-good-kitchen-popup__list
	&__list {
		@include adaptiveValue("max-width", 1000, 280, 1600, 320, 1);
        display: grid;
        @include adaptiveValue("gap", 35, 15, 992, 320, 1);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20 , 10, 992, 320, 1);
        }
	}

	// .body-good-kitchen-popup__item
	&__item {
		display: grid;
        grid-template-columns: rem(130) 1fr;
        gap: rem(10);
        align-items: center;
        @media (max-width:$tablet){
            grid-template-columns: rem(60) 1fr;
        }
		@media (max-width:$mobileSmall){
			display: block; 
		}
	}

	// .body-good-kitchen-popup__img
	&__img {
		display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:$tablet){
            img {
                transform: scale(prc(80, 120));
            }
        }
	}

	// .body-good-kitchen-popup__desc
	&__desc {
		display: grid;
		gap: rem(10);
		@media (max-width:$mobileSmall){
			 text-align: center; 
		}
	}

	// .body-good-kitchen-popup__subtitle
	&__subtitle {
		font-size: rem(14);
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
		color: $color-blue;
	}

	// .body-good-kitchen-popup__info
	&__info {
		line-height: 1.3;
		font-weight: 500;
	}

	// .body-good-kitchen-popup__text-bottom
	&__text-bottom {

		@media (min-width:$mobileSmall){
			max-width: prc(600, 760);
		}
		margin: 0 auto;
		text-align: center;
		font-size: rem(13);
		line-height: 1.3;
		font-weight: 400;
		color: $color-blue;
		padding: rem(13) rem(25);
		border: rem(1) dashed $color-yellow;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}

	// .body-good-kitchen-popup__img-bottom
	&__img-bottom {
		width: prc(580, 760);
		margin: 0 auto;
		padding-bottom: prc(336, 573);
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
