//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	padding: rem(8) rem(52);
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

	background: url("../img/btn-bg.png") center / cover no-repeat;

	font-weight: 700;
	@include adaptiveValue("font-size", 20, 14);
	color: #3c3c3c;
	line-height: math.div(23 , 20);
	transition: all 0.3s ease 0s;
	//border-bottom: rem(3) solid $text-dark;
	border-radius: rem(76);
	box-shadow: 0 rem(3) 0 $text-dark;
	position: relative;
	top: 0;
	@media (any-hover: hover){
		&:hover{
			top: rem(1);
			box-shadow: 0 rem(2) 0 $text-dark;
			transition: all 0.3s ease 0s;
		}
	}
	&_black {
		background-color: #000;
		color: #fff;
		box-shadow: none;
	}
}

.btn-more {
    color: $text-dark;
    font-weight: 500;
    padding: rem(11) rem(25);
    border: rem(1) solid $color-yellow;
    border-radius: rem(4);
    transition: all 0.3s ease 0s;
    background-color: #fff;
    @include adaptiveValue("font-size", 16, 14, 992, 320, 1);
    @media (any-hover: hover){
        &:hover{
            background-color: #FFF0D2;
        }
    }
}