.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			//box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
        position: relative;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			border: rem(2) solid $color-yellow;
            border-radius: 50%;
		}
        &::after{
            content:'';
            position: absolute;
            width: rem(12);
			height: rem(12);
            top: rem(4);
            left: rem(4);
            //background-color: $color-red;
			background-color: $color-yellow;
            transform: scale(0);
            border-radius: 50%;
            transition: all 0.3s ease 0s;
        }
		&.checkbox-square {
			&:before, &::after {
				border-radius: rem(4);
			}
		}
	}
	// .checkbox__text
	&__text {
		@include adaptiveValue("font-size", 16, 14);
		line-height: 1.12;
        small {
            color: $color-red;
			padding-left: rem(5);
        }
	}
}