%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &::before {
      @extend %ic;
      display: block;
  }
}

._icon-arrow-3:before {
  content: "\e900";
}
._icon-header-vk:before {
  content: "\e901";
}
._icon-arrow-1:before {
  content: "\e902";
}
._icon-arrow-2:before {
  content: "\e903";
}
._icon-close:before {
  content: "\e904";
}
._icon-find:before {
  content: "\e906";
}
._icon-header-inst:before {
  content: "\e91a";
}
._icon-header-kitchen:before {
  content: "\e91d";
}
._icon-header-location:before {
  content: "\e91e";
}
._icon-header-tel:before {
  content: "\e924";
}
._icon-header-viber:before {
  content: "\e925";
}
._icon-header-whatsapp:before {
  content: "\e926";
}
._icon-viewall:before {
  content: "\e927";
}
._icon-favourite:before {
  content: "\e928";
}