// ! TOP header ---------------------------------------

.header {
	background: url("../img/header/bg.png") 0 0 / cover no-repeat;
	// .header__top
	&__top {
	}
	// .header__actions
	&__actions {
		background: linear-gradient(-90deg, rgba(255, 255, 255, 0.3) 0%, rgba(241, 243, 235, 0.03) 100%);
		backdrop-filter: blur(10px);
	}
	// .header__body
	&__body {
	}
}
.top-header {
	padding: rem(10) 0; 
	@media (max-width:$tablet){
		padding: 0;
		position: fixed;
		width: 100%;
		height: rem(80);
		z-index: 200;
	}
	// .top-header__container
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: rem(60);
		@include adaptiveValue("gap", 30, 10, 992, 320, 1);
		@media (max-width:$tablet){
			justify-content: flex-start;
		}
	}

	// .top-header__menu
	&__menu {
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .top-header__favourite
	&__favourite {
		//margin-left: rem(30);
		align-items: center;
		border: none;
		position: relative;
		padding: 0;
		span {
			position: absolute;
			border-radius: 50%;
			width: rem(14);
			height: rem(14);
			display: flex;
			justify-content: center;
			align-items: center;
			top: 10%;
			right: -15%;
			background-color: $color-yellow;
			font-size: rem(10);
			color: $text-dark;
		}
		&::before{
			position: relative;
			font-size: rem(25);
			color: $text-light;
			transition: all 0.3s ease 0s
		}
		@media (any-hover: hover){
			&:hover{
				&::before{
					color: $color-yellow;					
				}
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .top-header__line
	&__line {
		//margin-left: rem(30);
		display: flex;
		align-items: center;
		border: rem(1) solid $color-yellow;
		border-radius: rem(4);
		height: 100%;
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .top-header__view-all
	&__view-all {
		white-space: nowrap;
		color: $text-light;
		font-weight: 600;
		//font-size: rem(12);
		line-height: math.div(14 , 12);
		padding: rem(10) rem(15);
		flex: 1 1 auto;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}

	// .top-header__kitchen
	&__kitchen {
		height: 100%;
		background-color: $color-yellow;
		border-radius: rem(4);
		&::before{
			font-size: rem(30);
			color: #2d2d2d;
			padding: rem(7) rem(10);
			font-weight: 500;
			@media (max-width:$pc){
				 display: none; 
			}
		}
	}
}
.menu-top-header {

	// .menu-top-header__list
	&__list {
		display: flex;
		align-items: center;
		//flex-wrap: wrap;
		row-gap: rem(5);
		@include adaptiveValue("column-gap", 40, 20, $maxWidthContainer, 992, 1);
		@media (max-width: $tablet) {
            flex-direction: column;
            row-gap: rem(25);
        }
	}

	// .menu-top-header__item
	&__item {
	}

	// .menu-top-header__link
	&__link {
		white-space: nowrap;
		color: $text-light;
		padding: rem(15) rem(5) rem(5);
		font-weight: 600;
		//font-size: rem(12);
		line-height: math.div(14 , 12);
		transition: all 0.3s ease 0s;
		border-bottom: rem(1) solid transparent;
		@media (any-hover: hover){
			&:hover{
				border-bottom: rem(1) solid $color-yellow;
				transition: all 0.3s ease 0s;
			}
		}
		@media (max-width:$tablet){
			font-size: rem(18);
			padding: rem(10);
		}
	}
}

.menu {

	// .menu__burger
	&__burger {
	}

	// .menu__body
	&__body {
		@media (max-width: $tablet) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            overflow: auto;
            background: $color-blue;
            padding: rem(100) rem(15) rem(50) rem(15);
            z-index: 4;
            transition: top 0.3s ease 0s;
			display: flex;
			flex-direction: column;
			gap: rem(20);
			&._burger-active {
                top: 0;
            }
            &::before {
                content: "";
                width: 100%;
                height:rem(80);
                position: fixed;
                top: 0;
                left: 0;
				background: $color-blue;
				box-shadow: 0 0 rem(15) rgba(0, 0, 0, 0.6);
            }
        }		
	}
}

//Burger
.icon-burger {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		// flex: 0 0 30px;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $text-light;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%; transform: scale(1) translate(0, -50%);
		}
		.menu-open & {
			span {transform: scale(0) translate(0, -50%);}
            &::before {top: 50%;transform: rotate(-45deg) translate(0, -50%);}
            &::after {bottom: 50%;transform: rotate(45deg) translate(0, 50%);}
        }
	}

}

// ! ACTIONS header ---------------------------------------

.actions-header {
	@media (max-width:$tablet){
		padding-top: rem(80);
	}

	// .actions-header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:$mobileSmall){
			justify-content: center; 
		}
	}

	// .actions-header__item
	&__item {
		@include adaptiveValue("padding", 20, 10, 1600, 992,1);
		position: relative;
		@media (min-width:$tablet){
			min-height: rem(136);
		}
		@media (max-width:$tablet){
			&.header-actions-desc, &.header-actions-location {
				padding: 0;
				z-index: 5;
				border: none;
			}
		}
	}
}
.header-actions-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(15);
	// .actions-header__logo
	&__logo {
		@media (max-width:$tablet){
			transform: scale(0.7);
		}
	}

	// .actions-header__text
	&__text {
		padding: rem(20) 0;
		max-width: rem(120);
		line-height: 1.3;
		@media (max-width:$pc){
			display: none; 
		}
		@media (max-width:$tablet){
			display: block;
			padding: 0;
			max-width: rem(120);
		}
		@media (max-width: em(480)){
			display: none;	  
		}
	}
}
.header-actions-links {
	display: flex;
	border: none;
	padding: 0;
	@include adaptiveValue("column-gap", 10, 5, 992, 480, 1);
	@media (min-width:$tablet){
		border-right: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);	
		border-left: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);
		max-width: rem(360);
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("padding", 10, 20, 992, 1600,1);
	}
	@media (max-width:$mobileSmall){
		display: none;
	}
	// .header-actions-link
	&__link {
		flex: 0 1 rem(92);
		padding: rem(15) rem(6);
		display: grid;
		gap: rem(6);
		text-align: center;
		border: rem(1) solid transparent;
		border-radius: rem(4);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				border: rem(1) solid $color-yellow;
			}
		}
	}
	// .header-actions-links__img
	&__img {
		display: flex;
		text-align: center;
		justify-content: center;
		height: rem(31);
	}

	// .header-actions-links__text
	&__text {
		font-weight: 500;
		line-height: math.div(18 , 16);
		color: $text-light;
	}
}
.header-actions-socials {
	display: grid;
	gap: rem(20);
	align-items: center;
	@media (max-width:$tablet){
		display: none;
	}
	// .header-actions-socials__text
	&__text {
		font-size: rem(10);
		text-transform: uppercase;
		text-align: center;
		align-self: flex-end;
	}
	// .header-actions-socials__line
	&__line {
		align-self: start;
		display: flex;
		justify-content: center;
		gap: rem(10);
		@media (max-width:$tablet){
			align-self: center;
			gap: rem(20);
		}
	}
	// .header-actions-socials__vk
	&__vk {
		font-size: rem(13);
		color: $text-light;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $color-yellow;
			}
		}
		@media (max-width:$tablet){
			font-size: rem(22);
			padding: rem(5);
		}
	}

	// .header-actions-socials__inst
	&__inst {
		font-size: rem(13);
		color: $text-light;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $color-yellow;
			}
		}
		@media (max-width:$tablet){
			font-size: rem(24);
			padding: rem(5);
		}
	}
}

.header-actions-msg {
	border-right: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);	
	border-left: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);
	display: grid;
	gap: rem(10);
	@media (max-width:$tablet){
		display: none;
	}
	// .header-actions-msg__line
	&__line {
		display: flex;
		gap: rem(14);
		align-items: center;
		&:last-child{
			gap: rem(8);
			justify-content: flex-end;
			align-self: flex-start;
			@media (max-width:$tablet){
				align-self: center;
				gap: rem(20);
			}
		}
		
	}

	// .header-actions-msg__img
	&__img {

	}

	// .header-actions-msg__text
	&__text {
		max-width: rem(70);
	}

	// .header-actions-msg__viber
	&__viber {
		font-size: rem(24);
		color: #a485e2;
		transition: all 0.3s ease 0s;
		padding: rem(5);
		@media (any-hover: hover){
			&:hover{
				color: #8e6fca;
			}
		}
	}

	// .header-actions-msg__whatsapp
	&__whatsapp {
		font-size: rem(24);
		color: $color-green;
		transition: all 0.3s ease 0s;
		padding: rem(5);
		@media (any-hover: hover){
			&:hover{
				color: #1cad8c;
			}
		}
	}
}
.header-actions-location {
	display: grid;
	gap: rem(13);
	justify-items: center;
	align-items: center;
	@media (max-width:$tablet){
		grid-template-columns: rem(22) minmax(rem(55), rem(120));
		gap: rem(5);
		flex: 1 1 auto;
	}
	// .header-actions-location__text
	&__text {
		font-weight: 600;
		line-height: 1.12;
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .header-actions-location__icon
	&__icon {
		font-size: rem(22);
		color: $color-green;
	}

	// .header-actions-location__map
	&__map {
		color: $text-light;
		font-size: rem(11);
		line-height: 1.12;
		align-self: flex-start;
		padding: rem(5);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		@media (max-width:$tablet){
			align-self: center; 
			font-size: rem(14);
			font-weight: 500;
		}
	}
}
.header-actions-phones {
	border-left: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);
	display: grid;
	gap: rem(6);
	@media (max-width:$tablet){
		border: none;
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: repeat(2, 1fr);
	}
	// .header-actions-phones__shedule
	&__shedule {
		font-size: rem(11);
		line-height: 1.12;
		color: $color-green;
		position: relative;
		padding-left: rem(12);
		span {
			color: $color-red;
		}
		&::after{
			content:'';
			position: absolute;
			width: rem(6);
			height: rem(6);
			top: 25%;
			left: 0;
			border-radius: 50%;
			background-color: $color-green;
			transform: translateY(-50%);
		}
		@media (max-width:$tablet){
			display: none;
		}
	}

	// .header-actions-phones__phone
	&__phone {
		display: inline-flex;
		align-items: center;
		gap: rem(6);
		color: $text-light;
		white-space: nowrap;
		font-size: rem(15);
		@media (any-hover: hover){
			&:hover span{
				text-decoration: underline;
			}
		}
		&::before{
			color: $color-yellow;
			font-size: rem(13);
		}
	}

	// .header-actions-phones__callback
	&__callback {
		color: $text-light;
		justify-self: end;
		line-height: 1.12;
		font-weight: 600;
		padding: rem(3);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		@media (max-width:$mobileSmall){
			grid-column: 1 / 3;
			justify-self: center; 
			font-size: rem(14);
		}
	}
}


// ! BODY header ---------------------------------------

.body-header {
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 100, 40);
	@media (any-hover: hover){
		&:hover{
			.body-header__title > span {
				border-bottom: rem(2) solid $color-green;
				transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
			}
		}
	}
	// .body-header__container
	&__container {
	}

	// .body-header__title
	&__title {
		max-width: rem(670);
		font-weight: 700;
		@include adaptiveValue("font-size", 45, 30);
		line-height: math.div(57 , 52);
		opacity: 0;
		&:not(:last-child) {margin-bottom: em(22, 35);}
		& > span {
			border-bottom: rem(2) solid transparent;
			transition: all 0.3s ease 0s;
			position: relative;
		}
		&._active {
			opacity: 1;
			transform: scale(1);
			transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;
		}

	}

	// .body-header__text
	&__text {
		max-width: rem(520);
		font-weight: medium;
		@include adaptiveValue("font-size", 35, 22);
		line-height: 1.2;
		opacity: 0;
		&:not(:last-child) {margin-bottom: em(53, 25);}
		& > span {
			transition: all 0.3s ease 0s;
			position: relative;
			color: $color-green;
		}
		&._active {
			opacity: 1;
			transform: scale(1);
			transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.2s;
		}
	}

	// .body-header__tip
	&__tip {
		position: absolute;
		width: rem(15);
		height: rem(15);
		border-radius: 50%;
		border: rem(1) solid $color-green;
		background-color: rgba($color: $color-green, $alpha: .2);
		top: rem(-5);
		right: rem(-5);
		& > span {
			font-size: rem(12);
			color: $text-light;
			line-height: math.div(11 , 10);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// .body-header__items
	&__items {
		background: linear-gradient(90deg, rgba(65, 65, 65, 0) 0%, rgba(43, 43, 43, .3) 100%);
		backdrop-filter: blur(rem(24));
		padding: rem(25) rem(18);
		border-radius: rem(4);
		opacity: 0;
		&:not(:last-child) {@include adaptiveValue("margin-bottom", 70, 30, 1600, 767, 1);}
		&._active {
			opacity: 1;
			transition: all 0.5s ease-in-out 0s;
		}
		@media (max-width:$tablet){
			max-width: rem(500);
			margin: 0 auto;	  
		}
		@media (min-width: rem(320)){
			padding: rem(15) rem(5); 
		}
		@media (min-width:$mobile){
			max-width: rem(867);
			display: grid;
			align-items: center;
			justify-items: center;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width:$tablet){
			padding: rem(35) rem(28); 
		}
	}

	// .body-header__item
	&__item {
	}

	// .body-header__info
	&__info {
	}
}

.item-body-header {
	position: relative;
	transition: all 0.3s ease 0s;
	transform: scale(0);
	display: flex;
	align-items: center;
	gap: rem(12);
	justify-content: center;
	&:nth-child(1)._active {
		transform: scale(1);
		transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;
	}
	&:nth-child(2)._active {
		transform: scale(1);
		transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.2s;
	}
	&:nth-child(3)._active {
		transform: scale(1);
		transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.4s;
	}

	@media (min-width:$tablet){
		&:not(:last-child) {
			border-right: rem(1) solid rgba($color: #f3f3f3, $alpha: .2);	
		}  
	}
	@media (max-width:$mobile){
		&:not(:last-child) {margin-bottom: rem(15);}
	}
	// .item-body-header__img
	&__img {
	}

	// .item-body-header__text
	&__text {
		font-size: rem(16);
		line-height: 1.25;
		strong {
			position: relative;
			.body-header__tip {
				top: rem(-12);
				right: rem(-12);
			}
		}
	}
}

.info-body-header {
	transform: scale(0);
	transition: all 0.3s ease 0s;
	@media (max-width: em(655)){
		border-radius: rem(7);	  
		border: rem(1) solid rgba($color: #f3f3f3, $alpha: .3);	
		padding: rem(20) rem(13);
		max-width: rem(500);
		margin: 0 auto;
	}
	&._active{
		transform: scale(1);
		transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
	}
	// .info-body-header__text
	&__text {
		flex: 1 1 100%;
		font-weight: 700;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(21 , 18);
		display: inline-flex;
		align-items: center;
		position: relative;
		padding-left: rem(57);
		&:not(:last-child) {margin-bottom: em(35, 18);}
		&::before{
			position: absolute;
			top: 50%;
			left: 0;
			font-size: rem(38);
		}
		@media (max-width: em(655)){
			font-weight: 600;
			order: 2;	
			max-width: rem(370);
			text-align: center;
			padding: 0;
			//@include adaptiveValue("padding-left", 20, 0, 655, 320, 1);
			&:not(:last-child) {margin-bottom: em(15, 18);}
			&::before{
				position: absolute;
				top: 75%;
				left: 0;
				font-size: rem(38);
				transform: rotate(-70deg);
			}
		}
		@media (max-width: em(380)){
			&::before{
				font-size: rem(34);
				top: 100%;
				transform: rotate(-85deg);
			}  
		}
	}

	// .info-body-header__row
	&__row {
		display: flex;
		align-items: center;
		column-gap: rem(40);
		flex-wrap: wrap;
		@media (max-width: em(655)){
			gap: rem(20) 0;
			flex-direction: column;
		}
	}

	// .info-body-header__btn
	&__btn {
		padding: rem(33) rem(67);
		@include adaptiveValue("padding-top", 33, 10, 1600, 320, 1);
		@include adaptiveValue("padding-right", 33, 10, 1600, 320, 1);
		@include adaptiveValue("padding-bottom", 33, 10, 1600, 320, 1);
		@include adaptiveValue("padding-left", 33, 10, 1600, 320, 1);
		@media (max-width: em(655)){
			order: 3;	
		}
	}	

	// .info-body-header__list
	&__list {
		@media (max-width: em(655)){
			order: 1;	
		}
	}

	// .info-body-header__item
	&__item {
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(18 , 16);
		font-weight: 500;
		padding-left: rem(14);
		&:not(:last-child) {margin-bottom: rem(18);}
		position: relative;
		transform: translateY(-150%);
		opacity: 0;
		transition: all 0.3s ease 0s;
		&::before,&::after{
			content:'';
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
		}
		&::after{
			width: rem(4);
			height: rem(4);
			background-color: $text-light;
		}
		&::before{
			width: rem(8);
			height: rem(8);
			background-color: $color-yellow;
		}
		&:nth-child(1)._active{
			transform: translateY(0);
			opacity: 1;
			transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) .85s;
		}
		&:nth-child(2)._active{
			transform: translateY(0);
			opacity: 1;
			transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s;
		}
		&:nth-child(3)._active{
			transform: translateY(0);
			opacity: 1;
			transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.15s;
		}
	}
}
