
// ! ELEMENTS block ==============================================================

.interesting-block {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    // .interesting-block__container
    &__container {
        display: flex;
        gap: rem(18);
        @media (max-width:$tablet){
            display: grid;
        }
    }

    // .interesting-block__left
    &__left {
        flex: 0 0 50%;
        display: grid;
        gap: rem(18);
    }

    // .interesting-block__title
    &__title {
        &:not(:last-child) {
           @include adaptiveValue("margin-bottom", 35, 20);
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .interesting-block__left-columns
    &__left-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(18);
        @media (max-width:$tablet){
            display: flex;
            flex-direction: column;
        }
    }

    // .interesting-block__col-1
    &__col-1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: rem(18);
        opacity: 0;
        visibility: hidden;
        &._active{
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0s;
            opacity: 1;
            visibility: visible;
        }
    }

    // .interesting-block__col-2
    &__col-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(18);
        opacity: 0;
        visibility: hidden;
        &._active{
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.4s;
            opacity: 1;
            visibility: visible;
        }
    }

    // .interesting-block__right
    &__right {
        flex: 0 0 50%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
        gap: rem(18);
        opacity: 0;
        visibility: hidden;
        &._active{
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s;
            opacity: 1;
            visibility: visible;
        }
        @media (max-width:$mobileSmall){
             display: flex;
             flex-direction: column; 
        }

    }
}

// ! ELEMENTS block ==============================================================

.elements-block {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    position: relative;
    // .elements-block__container
    &__container {
        position: relative;
    }
    // .elements-block__lamp
    &__lamp {
        position: absolute;
        top: 0;
        right: prc(60,1600);
        opacity: 0; 
        &._active{
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.5s;
        }
        @media (max-width: em(900)){
            display: none; 
        }
    }
    // .elements-block__table
    &__table {
        position: absolute;
        bottom: rem(100);
        left: -prc(600,1600);
        transform: translateX(-50%);
        @media (max-width:$pc){
            transform: translateX(-30%) scale(0.7);
            bottom: rem(0);
        }
    }
    // .elements-block__title
    &__title {
        
    }

    // .elements-block__row
    &__row {
        z-index: 2;
        position: relative;
        display: grid;
        align-items: center;
        @include adaptiveValue("column-gap", 80, 20,);
        @media (min-width:$mobile){
            grid-template-columns: minmax(auto, rem(300)) 1fr;   
        }
        @media (min-width:$tablet){
            grid-template-columns: minmax(auto, rem(350)) 1fr;   
        }
        @media (max-width:$mobile){
            row-gap: rem(20); 
            padding: 0 rem(30);
        }
        @media (max-width: em(360)){
            row-gap: rem(20); 
            padding: 0 ;
        }
    }

    // .elements-block__spoller
    &__spoller {
        @media (min-width:$tablet){
            margin-left: rem(50); 
        }
        @media (max-width:$mobile){
            order: 2; 
        }
    }

    // .elements-block__kitchen
    &__kitchen {
        position: relative; 
        padding-bottom: prc(609,718);
        @media (max-width:$mobile){
            order: 1; 
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    // .elements-block__tip
    &__tip {
        width: rem(20);
        height: rem(20);
        position: absolute;
        cursor: pointer;
        span {
            color: #fff;
            position: relative;
            z-index: 2;
            font-weight: 600;
            font-size: rem(16);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &::before {
            content:'';
            border-radius: 50%;
            background-color: #eebc59;;
            border: rem(1) solid $color-yellow;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &::after {
            content:'';
            border-radius: 50%;
            background-color: rgba($color: $color-yellow, $alpha: .3);
            position: absolute;
            width: rem(28);
            height: rem(28);
            top: 0;
            left: 0;
            transform: translate(rem(-4), rem(-4));
        }
        &[data-el-tip="1"] {
            top: prc(32,605);
            right: prc(206,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0s;
            }
        }
        &[data-el-tip="2"] {
            bottom: prc(136,605);
            right: prc(224,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.1s;
            }
        }
        &[data-el-tip="3"] {
            bottom: prc(240,605);
            right: prc(370,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.2s;
            }
        }
        &[data-el-tip="4"] {
            bottom: prc(120,605);
            left: prc(30,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.3s;
            }
        }
        &[data-el-tip="5"] {
            bottom: prc(220,605);
            left: prc(85,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.4s;
            }
        }
        &[data-el-tip="6"] {
            bottom: prc(153,605);
            left: prc(310,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.5s;
            }
        }
        &[data-el-tip="7"] {
            top: prc(65,605);
            left: prc(200,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.6s;
            }
        }
        &[data-el-tip="8"] {
            top: prc(170,605);
            left: prc(340,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.7s;
            }
        }
        &[data-el-tip="9"] {
            top: prc(270,605);
            right: prc(320,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.8s;
            }
        }
        &[data-el-tip="10"] {
            top: prc(270,605);
            right: prc(32,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.9s;
            }
        }
        &[data-el-tip="11"] {
            top: prc(210,605);
            right: prc(135,716);
            opacity: 0;
            visibility: hidden;
            &._active {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease 0.1s;
            }
        }
    }
}

// ! EXAMPLES block ==============================================================

.examples-block {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    position: relative;
    // .examples-block__container
    &__container {

    }

    // .examples-block__shelf
    &__shelf {
        position: absolute;
        top: 35%;
        right: 0;
        z-index: -1;
    }

    // .examples-block__chair
    &__chair {
        position: absolute;
        bottom: 15%;
        left: prc(40,1600);
        z-index: -1;
        @media (max-width:$mobile){
            display: none; 
        }
    }

    // .examples-block__title
    &__title {
    }

    // .examples-block__gallery
    &__gallery {
        @include adaptiveValue("margin-bottom", 40, 15, 992, 320, 1);
    }

    // .examples-block__footer
    &__footer {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("row-gap", 30, 15, 992, 320, 1);
        align-items: center;
    }
}

// ! 10 min INFO block ==============================================================

.tenmin-info-block {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    background: url("../img/main-page/tenmin-info/tenmin-info-bg.png") 0 0 / cover no-repeat;
    // .10min-info-block__container
    &__container {
    }

    // .10min-info-block__title
    &__title {
        color: #FFF5E0;
        max-width: prc(985, 1200);
        text-align: left;
        @include adaptiveValue("font-size", 40, 20, 1600, 320, 1);
        @media (max-width:$mobile){
             text-align: center; 
             max-width: 100%;
        }
    }

    // .10min-info-block__row
    &__row {
        display: flex;
        align-items: center;
        gap: rem(30);
        @media (max-width:$mobile){
             display: grid; 
             gap: rem(20);
        }
    }

    // .10min-info-block__list
    &__list {
        flex: 1 1 auto;
        transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.35s;
        transform: translateX(-200%);
        opacity: 0;
        visibility: hidden;
        .tenmin-info-block__row._active & {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    // .10min-info-block__item
    &__item {
        display: grid;
        grid-template-columns: rem(120) 1fr;
        gap: rem(10);
        align-items: center;
        @media (max-width:$tablet){
            grid-template-columns: rem(80) 1fr;
        }
    }

    // .10min-info-block__img
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:$tablet){
            img {
                transform: scale(prc(80, 120));
            }
        }
    }

    // .10min-info-block__text
    &__text {
        line-height: math.div(29 , 22);
        @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
        //flex: 1 1 auto;
    }

    // .tenmin-info-block__body
    &__body {
        flex: 0 0 prc(690, 1200);
        display: grid;
        gap: rem(10);
        transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.55s;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        .tenmin-info-block__row._active & {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
    // .10min-info-block__video
    &__video {
        padding-bottom: prc(382, 690);
        position: relative;
        z-index: 2;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    // .10min-info-block__tip
    &__tip {
        @include adaptiveValue("font-size", 16, 14, 767, 320, 1);
        line-height: math.div(20 , 16);
        color: $color-yellow;
    }
}

// ! GUARANTEE block ==============================================================

.guarantee-block {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    position: relative;
    overflow: hidden;
    background: url("../img/main-page/guarantee/guarantee-bg.png") 0 0 / cover no-repeat;
    // .guarantee-block__container
    &__container {
    }
    // .guarantee-block__row
    &__row {
        display: flex;
        @media (max-width:$pc){
            display: grid; 
        }
        @media (max-width:$tablet){
            display: block; 
        }
    }
    // .guarantee-block__body
    &__body {
        display: grid;
        @media (min-width:$pc){
            margin-left: rem(30); 
        }
        @media (max-width:$tablet){
            justify-content: center;
            justify-items: center; 
        }
    }

    // .guarantee-block__man
    &__man {
        @media (min-width:$pc){
            position: absolute;
            bottom: rem(-50);
            right: prc(280, 1200); 
            z-index: 0;
        }
        @media (max-width:$pc){
            justify-self: end; 
        }
        transform: translate(200%, 0);
        opacity: 0;
        visibility: hidden;
        .guarantee-block._active & {
            transform: translate(0, 0);
            opacity: 1;
            visibility: visible;
            transition: all 0.97s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.55s;
        }
    }
    // .guarantee-block__title
    &__title {
        max-width: prc(1000, 1200);
        @include adaptiveValue("margin-bottom", 60, 25, 992, 320, 1);
    }

    // .guarantee-block__list
    &__list {
        @include adaptiveValue("max-width", 675, 279, 992, 320, 1);
        display: grid;
        @include adaptiveValue("gap", 35, 15, 992, 320, 1);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50 , 25, 992, 320, 1);
        }
    }

    // .guarantee-block__item
    &__item {
        display: grid;
        grid-template-columns: rem(90) 1fr;
        gap: rem(15);
        align-items: center;
        @media (max-width:$tablet){
            grid-template-columns: rem(60) 1fr;
        }
        transform: translateX(-200%);
        opacity: 0;
        visibility: hidden;
        .guarantee-block._active & {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            &:nth-child(1) {
                transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.35s;
            }
            &:nth-child(2) {
                transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.45s;
            }
            &:nth-child(3) {
                transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.55s;
            }
        }
    }

    // .guarantee-block__img
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:$tablet){
            img {
                transform: scale(prc(80, 120));
            }
        }
    }

    // .guarantee-block__text
    &__text {
        display: grid;
        gap: rem(6);
    }

    // .guarantee-block__subtitle
    &__subtitle {
        color: $text-dark;
        @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
        text-transform: uppercase;
        font-weight: 600;
    }

    // .guarantee-block__info
    &__info {
        color: $text-dark;
        @include adaptiveValue("font-size", 18, 14, 992, 320, 1);
        line-height: 1.3;
    }

    // .guarantee-block__certificates
    &__certificates {
    }
}

.certificates-guarantee-block {
    display: flex;
    @include adaptiveValue("column-gap", 60, 30, 992, 30, 1);
    @media (max-width: em(565)){
         display: grid;
         gap: rem(15); 
    }
    // .certificates-guarantee-block__item
    &__item {
        display: grid;
        gap: rem(15);
        justify-items: center;
        grid-template-rows: rem(25) 1fr rem(25);
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        .guarantee-block._active & {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
            &:nth-child(1) {
                transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.85s;
            }
            &:nth-child(2) {
                transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.95s;
            }
        }
    }

    // .certificates-guarantee-block__title
    &__title {
        display: flex;
        align-items: center;
        color: $color-yellow;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 18, 14, 992, 320, 1);
    }

    // .certificates-guarantee-block__img
    &__img-ibg {
        // min-height: rem(320);
        // min-width: rem(220);
        min-width: rem(220);
        padding-bottom: prc(283, 220);
        padding-bottom: prc(911, 637);
        padding-bottom: prc(1024, 730);
        position: relative;
    }

    // .certificates-guarantee-block__click
    &__click {
        @include adaptiveValue("font-size", 16, 12, 992, 320, 1);
        color: $color-blue;
        font-weight: 500;
        padding: rem(5);
        border-bottom: rem(1) solid transparent;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                border-bottom: rem(1) solid $color-blue;
            }
        }
    }
}

.man-guarantee-block {
    // .man-guarantee-block__img
    &__img {
        @media (max-width:$pc){
            transform: translateY(rem(50)); 
        }
        @media (max-width:$mobileSmall){
            transform: scale(0.86);
            transform: translate(rem(-60),rem(80)); 
        }
    }

    // .man-guarantee-block__info
    &__info {
        position: absolute;
        top: prc(525, 890);
        left: prc(200, 650);
        max-width: rem(275);
        border-radius: rem(8);
        padding: rem(38) rem(22) rem(60);
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(254, 255, 251, 0.71) 100%);
        box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        @media (max-width:$mobileSmall){
            width: rem(330);
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0); 
        }
    }

    // .man-guarantee-block__text
    &__text {
        font-weight: 700;
        font-size: rem(18);
        line-height: 1.4;  
        color: $text-dark;
        font-style: italic;
        text-align: center;
    }

    // .man-guarantee-block__name
    &__name {
        padding: rem(15) rem(25);
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(136.27deg, #F3CD82 15.69%, #E0A93D 86.04%);
        box-shadow: 0px 1px 5px rgba(138, 143, 144, 0.49);
        border-radius: rem(8);
        max-width: rem(235);
        position: absolute;
        width: 100%;
        top: -15%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 700;
        font-size: rem(18);
        line-height: 1,2;
        color: $text-light;
    }

    // .man-guarantee-block__job
    &__job {
        padding: rem(15) rem(20);
        text-align: center;
        background: linear-gradient(136.27deg, #FFFFFF 15.69%, #EFEFEF 86.04%);
        box-shadow: 0px 1px 5px rgba(138, 143, 144, 0.49);
        border-radius: rem(8);
        max-width: rem(250);
        position: absolute;
        width: 100%;
        bottom: -17%;
        color: $text-dark;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 500;
        font-size: rem(18);
        line-height: 1.4;
    }
}


// ! KITCHEN_ORDERS block ==============================================================

.kitchen-orders {
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    position: relative;
    background-color: #FAF9F7;
    // .kitchen-orders__container
    &__container {
        position: relative;
    }

    // .kitchen-orders__bg-1
    &__bg-1 {
        position: absolute;
        bottom: prc(70, 1100);
        right: 0;
        @media (max-width:$tablet){
            display: none;
        }
    }

    // .kitchen-orders__bg-2
    &__bg-2 {
        position: absolute;
        top: prc(250, 1100);
        left: 0;
        @media (max-width:$tablet){
            display: none;
        }
    }

    // .kitchen-orders__title
    &__title {
    }

    // .kitchen-orders__items
    &__items {
        display: grid;
        @include adaptiveValue("row-gap", 20, 10, 992, 320, 1);
        height: 100%;
        @media (min-width:$tablet){
            padding: rem(10);
            background-color: rgba($color: #fff, $alpha: .75);
            border-radius: rem(4);  
        }
    }

    // .kitchen-orders__row
    &__row {
        display: grid;
        @include adaptiveValue("gap", 20, 10, 992, 320, 1);
        height: 100%;
        opacity: 0;
        visibility: hidden;
        @media (min-width:$mobileSmall){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, minmax(rem(252), auto));
        }
        @media (min-width:$tablet){
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: minmax(rem(252), auto);
        }
        @media (max-width:$mobileSmall){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, minmax(rem(252), auto));
        }
        .kitchen-orders__items._active &:nth-child(1){
            opacity: 1;
            visibility: visible;
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0s;
        }
        .kitchen-orders__items._active &:nth-child(2){
            opacity: 1;
            visibility: visible;
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.3s;
        }
        .kitchen-orders__items._active &:nth-child(3){
            opacity: 1;
            visibility: visible;
            transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.6s;
        }
    }

    // .kitchen-orders__item
    &__item {
        
    }
}

.item-kitchen-orders {
    position: relative;
    overflow: hidden;
    border-radius: rem(8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // .item-kitchen-orders__img
    &__img-ibg {
        filter: brightness(0.95);
        transition: all 0.3s ease 0s;
        position: relative;
        min-height: 100%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        @media (any-hover: hover){
            .item-kitchen-orders:hover:hover &{
                filter: brightness(0.6);
            }
        }
        @media (max-width:$tablet){
            
        }
    }

    // .item-kitchen-orders__label
    &__label {
        position: absolute;
        width: 100%;
        height: 12%;
        // bottom: 10%;
        // left: 10%;
        bottom: 0;
        left: 0;
        padding: rem(5) rem(15);
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: 600;
        @include adaptiveValue("font-size", 16, 14, 992, 320, 1);
        line-height: math.div(25 , 20);
        color: $text-light;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            .item-kitchen-orders:hover:hover &{
                color: $color-yellow;
            }
        }
    }

    // .item-kitchen-orders__catalog
    &__catalog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: rem(5);
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(25 , 20);
        color: $text-light;
        letter-spacing: 0.02em;
        text-align: center;
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        @media (any-hover: hover){
            &:hover {
                text-decoration: underline;
            }
            .item-kitchen-orders:hover:hover &{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// ! WORKS block ==============================================================

.works-block {
    @media (min-width:$tablet){
        background: url("../img/main-page/works/works-bg.png") 0 0 / cover no-repeat; 
    }
    @include adaptiveValue("padding-top", 50, 20, 992, 320, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 992, 320, 1);
    // .works-block__container
    &__container {
        display: grid;
        align-items: center;
    }

    // .works-block__title
    &__title {
        color: $text-dark;
    }

    // .works-block__gallery
    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
        @include adaptiveValue("gap", 20, 15);
        padding: rem(10);
        background-color: rgba($color: #fff, $alpha: .25);
        border-radius: rem(4);
        &:not(:last-child) {@include adaptiveValue("margin-bottom", 65, 30, 992, 320, 1);}
    }

    // .works-block__more
    &__more {
        margin: 0 auto;
    }
}

