@use "sass:math";

@import "base/mixins";


// @import "fonts/fonts"; // local fonts
@import "fonts/icons.scss"; // icon fonts

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
@import "fonts.scss";

// todo *Variables*
$fontFamily: 'Open Sans', sans-serif;
$fontSize: rem(12); // maket font in brackets
$text-light: #f3f3f3;
$text-dark: #575B5E;
$color-green: #1ed3a8;
$color-yellow: #f3cd82;
$color-red: #ff542f;
$color-blue: #1d252b;

//$color-silver: rgba(192, 192, 192, 0.849);
//$color-grey: rgba(0, 0, 0, 0.7);

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1600;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

// Break-points
$pc: em($maxWidthContainer);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Adaptive type:
// 1 = responsive (without break-points),
// 2 = with break-points
$responsiveType: 2;

// todo *Nullstyle, Common parameters*
@import "base/nullstyle";

body {
    font-family: $fontFamily;
	font-size: $fontSize;
    font-weight: 400; 
    color: $text-light;
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    .loaded & {
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

    > main {flex: 1 1 auto;}
    > * {min-width: 0;} // fix for sliders
}

@if ($responsiveType==1) {
	// responsive
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// with break-points
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}


@import "base";
@import "common";

@import "header"; 
@import "footer";

@import "home";

.page {
	// ! HOME ------------------------------------------
	// .page__home
	&__home {
	}
    // .page__interesting-block
    &__main-block {
        position: relative;
    }
	// .page__elements-block
    &__elements-block {
        position: relative;
		//background-color: #999;
    }
    // .page__examples-block
    &__examples-block {
    }
	// .page__kitchen-orders-block
    &__kitchen-orders-block {
    }
	// .page__works-block
    &__works-block {
    }

	// ! Catalog ------------------------------------------
	// .page__title
    &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(29, 24);
        &:not(:last-child) {margin-bottom: em(25, 24);}
    }
    // page__breadcrumbs
    &__breadcrumbs {
    }
}
