// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spoller-elements-block {
	//padding: rem(10) 0;
	display: grid;
	gap: rem(10);
	max-width: rem(300);
	background: url("../img/main-page/elements/list-bg.png") 0 0 / cover no-repeat;
	border-radius: rem(4);
	box-shadow: 0 rem(5) rem(20) rgba(0, 0, 0, 0.1);
	padding: rem(10) 0;
	@media (max-width:$mobile){
		max-width: 100%;
	}

}
// Спойлер
.spoller-elements-block__item {
	backdrop-filter: blur(rem(2));
	padding: rem(10) rem(10) rem(10) rem(25);
	@media (max-width:$tablet){
		&:not(:last-child) {
			border-bottom: rem(1) solid rgba($color: $text-dark, $alpha: .15);
		}
	}


}
// Заголовок спойлера
.spoller-elements-block__title {
	color: $text-dark;
	font-weight: 600;
	@include adaptiveValue("font-size", 14, 12, 767, 320, 1);
	line-height: 1.12;
	cursor: default;
	//cursor: pointer;
	text-align: left;
	padding: rem(5) 0;
	position: relative;
	border-bottom: rem(2) solid transparent;
	transition: all 0.3s ease 0s;
	position: relative;
	@media (any-hover: hover){
		.spoller-elements-block__item:hover & {
			border-bottom: rem(2) solid $color-yellow;
		}
	}
	@media (max-width:$mobile){
		padding-right: rem(20); 
	}
	._spoller-init & {
		width: 100%;
		&::before {
			content: "\e902";
			@extend %ic;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: rem(10);
			transition: transform 0.5s ease 0s;
			padding: rem(5);
		}
		&._spoller-active {
			&::before {
				transform: translateY(-50%) rotateX(180deg);
			}

		}
	}
}
// Контент спойлера
.spoller-elements-block__body {
	padding: rem(10);
	border-radius: rem(5);
	border-top: 1px solid rgba($color: $color-yellow, $alpha: .5);
	@media (min-width:$mobile){
		 display: none; 
	}
}

.spoller-elements-block__list {

}

.spoller-elements-block__li {
	color: $text-dark;
	font-size: rem(14);
	line-height: 1.12;
	font-weight: 500;
	padding-left: rem(14);
	&:not(:last-child) {
		margin-bottom: rem(8);
	}
	position: relative;
		&::before,&::after{
			content:'';
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
		}
		&::after{
			width: rem(4);
			height: rem(4);
			background-color: $text-light;
		}
		&::before{
			width: rem(8);
			height: rem(8);
			background-color: $color-yellow;
		}
}